* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

.card {
  margin-top: 7rem;
  padding: 0rem;
  width: 300px;
  border: none;
  /* padding: 3rem; */
  border-radius: 1.5rem;
  /* border: 0.2rem solid rgb(104, 104, 104); */
  overflow: hidden;
  /* background-color: rgb(22, 22, 22); */
  background-color: #000;
  max-height: 50rem;
}

/* TOP BAR */

.top-bar {
  /* background-color: #27233e; */
  background-color: #260d54;
  padding: 4rem 2rem;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

input {
  border: none;
  color: #27233e;
  margin-top: 2.5rem;
  padding: 1rem 1.6rem;
  border-radius: 1.8rem;
  width: 100%;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #27233e;
  font-weight: 500;
  font-size: 1.3rem;
}

/* USERS LIST */

.users,
.filtered_users {
  /* background-color: #232c30; */
  background-color: rgb(22, 22, 22);
  max-height: 35rem;
  overflow: scroll;
  overflow-x: hidden;
  /* border: 2px solid red; */
  /* overflow-y: hidden; */
}

::-webkit-scrollbar {
  max-width: 0.7rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
}

.user-content {
  display: flex;
  align-items: center;
  padding: 2.1rem 2rem;
}

.img {
  border-radius: 50%;
  margin-right: 2rem;
  max-width: 5rem;
}

img {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

span {
  font-size: 1.2rem;
}

/* media query */

@media all and (max-width: 500px) {
  body {
    align-items: start;
  }

  .card {
    margin-top: 15rem;
  }
}
